.card:hover {
    -fx-border-color: yellow;
}


#mainboard{
    -fx-padding: 50px 125px 1px 25px;
    /*-fx-border-insets: 150px;*/
    /*-fx-background-insets: 90px;*/
    -fx-background-color: green;
}

